<h1>{{ title }}</h1>

<ul>
  <li *ngFor="let item of listaTarefas">
    {{ item.id }} - {{ item.descricao }}
    <button *ngIf="!item.done" (click)="markAsDone(item)">Concluir</button>
    <button *ngIf="item.done" (click)="markAsUndone(item)">Refazer</button>
    <button (click)="remove(item)">Remover</button>
   </li>
</ul>

<form [formGroup]="form">
  <fieldset>
    <label>Tarefa:</label>
    <input type="text"
      placeholder="descricao da tarefa"
      maxlength="50"
      formControlName="descricao">

      <small 
        *ngIf="form.controls.descricao.invalid && 
               !form.controls.descricao.pristine"
        >a descricao tem que ter entre 3 e 50 caracteres</small>

    <button>Adicionar</button>
  </fieldset>
</form>